@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MyCourier';
    src: url('./Assets/Couriernew.ttf') format('truetype'); font-style: normal;
}
@font-face {
    font-family: 'MyCaveat';
    src: url('./Assets/caveat.ttf') format('truetype'); font-style: normal,
    
}
@layer base{

    @media (max-width: 768px) {
        .scrollReveal{
            visibility: hidden;
        }
    }
    a, button, input, textArea{
        cursor: pointer;
        outline: none;
        border: none;
    }

    html, body{
        color: #05192C;
        background-image: url("./../public/noise.png");
        background-size: auto;
        animation: bg 5s infinite;
        ::-webkit-scrollbar {
            width: 0px;
        }
                ::-webkit-scrollbar-thumb {
            background-color: transparent;
        }
        
        ::-webkit-scrollbar-track {
            background-color: transparent;
        }
        
    }
    svg{
        color: #3C668D;
    }
}

@media (prefers-color-scheme: dark){
    hmtl,body{
        background-image: url("./../public/noisedark.png");
        background-color: #05192C;
        background-repeat: repeat;
        color: white;
        animation: bg 5s infinite;
    }
    svg{
        color: white;
    }
}

@keyframes bg{
    0%{
        background-position-x: 2000px;
    }
    100%{
        background-size:auto
    }
}
